<div class="container">
<div>
	<h1>Your booking details</h1>
</div>
	<div id="hotel-booking" class="row">
		<aside id="booking-main-tag" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ach-outline">	
				<h4>Your reservation summary</h4>
		</aside>
		<div id="booking-form" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ach-outline">	
			<h4>Secure booking</h4>
				<h2>Room details</h2>

				<!-- Start form -->	
				<form ng-submit="bookingForm()" novalidate="novalidate">

				  <fieldset class="form-group">
				    <label for="firstName">First name</label>
				   		 <input type="text" 
				   		 		ng-model="formData.firstName" 
				   		 		name="firstName"
				   		 		id="firstName"
				   		 		class="form-control" 
				   		 		required="required" 
				   		 		placeholder="First Name">
				  </fieldset>
				  <fieldset class="form-group">
				    <label for="lastName">Last name</label>
				    	<input	type="text" 
				    		  	ng-model="formData.lastName" 
				   		 	  	name="lastName"
				   		 	  	id="lastName"
				   		 		class="form-control"
				   		 		required="required" 
				   		 		placeholder="Last Name">
				  </fieldset>

				  <fieldset class="form-group">
				    <label for="lastName">Last name</label>
				    	<input	type="email" 
				    		  	ng-model="formData.email" 
				   		 	  	name="email"
				   		 	  	id="email"
				   		 		class="form-control"
				   		 		required="required" 
				   		 		placeholder="Email">
				  </fieldset>
				

				  <div class="form-group row">
				    <div class="col-sm-10">
				      <button type="submit" class="btn btn-warning">Book now</button>
				    </div>
				  </div>
				</form>	



		</div>
	</div>
</div>

<pre>
    {{ bookingForm | json }}{{ tt }}
</pre>
