<div id="ach-hl-stars">
	<h5>Star rating</h5>
	<div class="checkbox">
		<ul>
			<li><input type="checkbox"><img src="assets/img/stars_5.gif"></li>
			<li><input type="checkbox"><img src="assets/img/stars_4.gif"></li>
			<li><input type="checkbox"><img src="assets/img/stars_3.gif"></li>
			<li><input type="checkbox"><img src="assets/img/stars_2.gif"></li>
			<li><input type="checkbox"><img src="assets/img/stars_1.gif"></li>
		</ul>
		<hr />
		<h5>Property type</h5>
		<div class="checkbox">
		<ul>
			<li><input type="checkbox">Hotels</li>
			<li><input type="checkbox">Suites</li>
			<li><input type="checkbox">Resorts</li>
			<li><input type="checkbox">Vacation rentals</li>
			<li><input type="checkbox">Bed &amp; breakfast</li>
			<li><input type="checkbox">All inclusive</li>
		</ul>
		<a type="button" class="btn btn-block btn-primary">Update</a>
	</div>
</div>



