<div class="container">


	<div class="alert alert-success text-xs-center m-t-3" role="alert">
	  <p><strong>Success!</strong> Your booking is confirmed. Your credit card has been chaged in full.</p>
	</div>


	<div class="row">
  <div class="col-sm-12">
    <div class="card card-block text-xs-center">
      <h3 class="card-title">Booking details</h3>
      <p>You will receive an email containing the confirmation and reservation details.<br /> Please refer to your itinerary number and email address.</p>
      <p><strong>Itinerary number:</strong>{{HotelRoomReservationResponse.itineraryId}}</p>
      <p><strong>Confirmation number:</strong>{{HotelRoomReservationResponse.confirmationNumbers}}</p>
      <a href="#" class="btn btn-primary">View or cancel your reservation online</a>
    </div>
  </div>
</div>




	<pre>{{HotelRoomReservationResponse | json}}</pre>

</div>

