div.hero {
    background:url("../img/test-home-hero.jpg") no-repeat center center;
    background-size:cover;
    min-height:60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#home-search-wrapper{
    padding-top:45px;
    
}
#home-search{
    color: #fff;
    background-color: rgba(0,29,40,0.7);
    padding:40px;
}
#home-search-form{

}

.ach-search-home{
    font-size: 16px;
    margin-bottom: 2px;
}