<div id="ach-nav-container">  
      <div class="container">
        <nav class="navbar">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
          </button>
          
          <a href="#/"><img id="ach-logo-xs" src="assets/img/australian-cheap-hotels.gif" class="center-block hidden-sm-up"/></a>

          <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a class="navbar-brand hidden-xs-down" href="/"><img src="assets/img/australian-cheap-hotels.gif" /></a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a href="/" target="_self" class="nav-link" ng-class="{ active: isActive('/')}">Home</a>
              </li>
              <li class="nav-item">             
                <a href="/dev" class="nav-link" ng-class="{ active: isActive('/dev')}">Dev</a>
              </li>
              <li class="nav-item">             
                <a href="/deva" class="nav-link" ng-class="{ active: isActive('/deva')}">Deva</a>
              </li>
              <li class="nav-item">             
                <a href="/devb" class="nav-link" ng-class="{ active: isActive('/devb')}">Devb</a>
              </li>
              <li class="nav-item">             
                <a href="/hotels" class="nav-link" ng-class="{ active: isActive('/hotels')}">Hotels</a>
              </li>
              <li class="nav-item">             
                <a href="/hotel" class="nav-link" ng-class="{ active: isActive('/hotel')}">Hotel</a>
              </li>
              <li class="nav-item">             
                <a href="/book" class="nav-link" ng-class="{ active: isActive('/book')}">Book</a>
              </li>
              <li class="nav-item">             
                <a href="/support" class="nav-link" ng-class="{ active: isActive('/support')}">Support</a>
              </li>
              <li class="nav-item">             
                <a href="/Your booking" class="nav-link" ng-class="{ active: isActive('/your-booking')}">Your bookings</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>              
            </ul>
          </div>
        </nav>
      </div><!-- /container -->
      <div id="ach-nav-strip"></div>
    </div>