
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ach-pointer{
	cursor:pointer;
}

.ach-red{
	color:$brand-danger;
}

.help-block{
	font-size:80%;
}

.error-msg{
	color:$brand-danger;
}

