
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.ach-stroke-box{
  border-style:solid;
  border-width:8px;
  border-color:#f4f2f2;
  padding:15px;
}

.ach-pointer{
	cursor:pointer;
}

.ach-green{
  color:green;
}

.ach-red{
	color:$brand-danger;
}

.help-block{
	font-size:80%;
}

.error-msg{
	color:$brand-danger;
}
.mid-sub{
	font-size:1.3rem;
	color:$ach-mid-blue;
}

.ach-sm-info{
    padding:-15px 0 -5px 0;
    font-size:0.8rem;
}

