$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #2973ba !default;
$brand-success:             #5cb85c !default;
$brand-info:                #2973ba !default;
$brand-warning:             #ffcc00 !default;
$brand-danger:              #991313 !default;


$ach-yellow:				#ffcc00;
$ach-blue:             		#0f467c;
$ach-mid-blue:				#2973ba;



