<div ng-show="loading" ng-include src="'app/shared/preloader.html'"></div>
<div class="container">
<select>
	  						<option value="1">1</option>
	  					</select>
<div id="avail">
	<div id="avail-head"><h2>Choose your room</h2></div>
	<div id="avail-dates">		
		This is the forma dates here

	</div>
	<div class="rooms row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ach-hl-box">
			<div class="ach-hotel-box row m-b-sm">
				
				<div class="col-xs-12 col-sm-5 col-md-2 col-lg-2 ach-hlb-a">
					<img class="img-responsive" src="http://placehold.it/110x110">
				</div>
				
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 ach-hlb-b">
					<h3>This is the name of the room</h3>
					<img class="img-responsive" src="{{hotel.hotelRating}}">
					<p>This is the p tag</p>
					<p class="ach-sm" style="padding-top:7px;">Reviews: Small text</p>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ach-hlb-c text-right">
					<div class="hlb-g">
						<h4 class="ach-price">$199</h4><br />
						<span class="ach-sm">Avg. Nighly rate</span><br />
					<a type="button" class="ach-hl-btn btn btn-warning">Book now</a>
					</div>
				</div>
			
			</div>
		</div>


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ach-hl-box">
			<div class="ach-hotel-box row m-b-sm">
				
				<div class="col-xs-12 col-sm-5 col-md-2 col-lg-2 ach-hlb-a">
					<img class="img-responsive" src="http://placehold.it/110x110">
				</div>
				
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 ach-hlb-b">
					<h3>This is the name of the room</h3>
					<img class="img-responsive" src="{{hotel.hotelRating}}">
					<p>This is the p tag</p>
					<p class="ach-sm" style="padding-top:7px;">Reviews: Small text</p>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ach-hlb-c text-right">
					<div class="hlb-g">
						<h4 class="ach-price">$199</h4><br />
						<span class="ach-sm">Avg. Nighly rate</span><br />
					<a type="button" class="ach-hl-btn btn btn-warning">Book now</a>
					</div>
				</div>
			
			</div>
		</div>

		
	



	</div>
</div>
</div>